
// VARIABLES ARE ALL DECLARED HERE FOR USE LATER IN THE CSS


$font-stack: Raleway;
$myPrimaryColor: #F2777e;
$mySecondaryColor: #7e899e;
$myGrey: black;
$myLinkColor: #63B3BF;

$myLightGreen: #c3e6d0;
$myDarkGreen: #3F454F;
$myLightBlue: #b3caed;
$myLightPink: #fbe3df;
$myDarkGrey: #534d49;

// THESE ARE SET TO THE BREAKPOINTS OF THE BOOTSTRAP ARCHETECTURE THE SITE IS BUILT ON
// MEANING I'VE SET THINGS TO CHANGE SIZE AT THE SAME POINTS AS BOOTSTRAP CHANGES
$breaksmall: 768px;
$breakmedium: 992px;
$breaklarge: 1024px;

$picHeight: 80vh;

$myCursor: pointer;

@font-face {
	font-family: Raleway;
	src: url(raleway.ttf);
}

// OVERALL DOCUMENT FORMATTING 

* {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

*:focus{
	outline: 0;
	outline: none;
}

html {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	-webkit-tap-highlight-color: transparent;
}

body {
	max-width: 80em;
	margin-right: auto;
	margin-left: auto;
}

.backgroundDiv {
<<<<<<< HEAD
	background-image: url('pics/background02small.png');
=======
	background-image: url('pics/background02.png');
>>>>>>> e956eab8f27db238d9f5e927313c4857fef83940
	background-size: 100%;
	background-repeat: repeat-y;
	height: inherit;
}

a:hover {
	text-decoration: none;
	cursor: $myCursor;
}

// ALL THE PAGES THAT AREN'T THE TOP PAGE
.notTitlePage {
	padding-top: 4em;
	margin-top: 0em;
	margin-bottom: 10em;
	height: auto;
	@media (max-width: $breaksmall){
		margin-bottom: 1em;
	}
}

// BANNER

.banner {
	
	position: relative;
	top: 0;
	height: 2em;
	width:75%; 
	display:inherit;
	z-index: 10;
	font-family: $font-stack;
	font-size: 2em;
	color: $myLightPink;
	
	@media (max-width: $breaksmall){
		width: 100%;
	}

	ul {
		list-style: none;
		li {
			display: inline-block;
			padding: 0 0 0 0;
			img {
				max-width: 100%;
				position: relative;
			}
		}
		a {
			
			position: relative;
			
			&:hover {
				text-decoration: none;
			}
		}
		
	}
}

.bannerFade {
	display: none;
}



// LANDING PAGE

.topPage {
	height: 100vh;


}

.topPageLogo {
	padding-top: 5em;
	padding-bottom: 5em;
	img {
		max-width: 100%;
	}
}

.topPageTitle {
	font-family: $font-stack;
	font-size: 1.9em;
	text-align: center;
}

// SERVICES PAGE

.servicesPage {
	margin-bottom: 30em;
	@media screen and (max-width: $breaksmall) {
			margin-bottom: 1em;
		}
	img {
		max-width: 100%;
		padding-left: 20%;
		margin-top: 6em;
		cursor: $myCursor;
		
		@media screen and (max-width: $breaksmall) {
			padding-top: 1em;
			margin-top: 1em;
		}
	}
	.row {
		margin-right: 6.25%;
	}
	.infoBox {
		margin-top: 2em;
		display: none;
		background-color: rgba(255, 255, 255, 0.8);
	}
}

.infoBoxDiv {
	cursor: $myCursor;
	@media (min-width: $breaksmall) and (max-width: $breakmedium){
		position: fixed;
		top: 0;
		left: 0;
		margin-top: 2em;
		margin-left: 1em;
		max-width: 80%;
		font-size: 1.5em;
	}
	@media (max-width: $breaksmall){
		position: fixed;
		top: 0;
		left: 0;
		margin-top: 2em;
		margin-left: 1em;
		margin-top: 2em;
		font-size: 1.5em;
	}
}


// PHOTOS PAGE

.photoWrapper {
	margin-top: 3em;
	@media (max-width: $breaksmall) {
		margin-top: 8em;
	}
}


.photos {
	max-width: 110%;
	cursor: $myCursor;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	@media (min-width: $breaksmall) and (max-width: $breakmedium){
		left: 3em;
		max-width: 80%;
		padding: 0 2em 0 2em;
	}
	@media (max-width: $breaksmall){
		left: 1em;
		max-width: 80%;
		padding: 0 2em 0 2em;
	}
}

.slideshow {
	display: block;
	position: relative;
	margin: 0;
	margin-bottom: 2em;
	padding: 0;
	overflow: scroll;
	cursor: $myCursor;
	z-index: 0;
	

	.photosList {
		overflow: hidden;
		margin: 0;
		padding: 0;
		height: auto;
		list-style: none;
		img { 
			height: 100%;
			width: 100%;
		}
		li {
			display: none;

		}
	}
}

#visible {		
	display: inline-block;	
}


.navButtons {
	display: inline-block;
	font-size: 4.5em;
	color: $myDarkGrey;
	background-color: none;
	border: none;
	top: 200px;
		@media (min-width: $breaksmall) and (max-width: $breakmedium){
		left: -0.2em;
	}
	@media (max-width: $breaksmall){
		left: -20em;
	}
	
}


// CONTACT PAGE

.contactPage {
	padding-top: 1em;
}

.contactInfo {
	margin-top: 4em;
	margin-bottom: 4em;
	position: relative;
	p {
		padding-right: 2em;
		text-align: right;
		font-family: $font-stack;
		color: $myDarkGrey;
		font-size: 2em;
		
		@media (max-width: $breaksmall){
			padding-right: 0;
			font-size: 1.5em;
		}
	}
	
}

.map {
	max-width:100%;
	top: -3em;
}
 
#map {
	height: 30em;
	width: 50em;
	margin-left: auto;
	margin-right: auto;
	@media (max-width: $breaksmall) and (min-width: $breakmedium){
		width: 50em;
		margin-left: auto;
		margin-right: auto;
	}
	@media (max-width: $breaksmall) {
		width: 25em;
		height: 25em;
		margin-left: auto;
		margin-right: auto;
	}
}

.scrolloff {
    pointer-events: none;
}

.endOfPage {
	margin-top: 5em;
}
