@font-face {
  font-family: Raleway;
  src: url(raleway.ttf); }
* {
  padding: 0 0 0 0;
  margin: 0 0 0 0; }

*:focus {
  outline: 0;
  outline: none; }

html {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  -webkit-tap-highlight-color: transparent; }

body {
  max-width: 80em;
  margin-right: auto;
  margin-left: auto; }

.backgroundDiv {
  background-image: url("pics/background02small.png");
  background-size: 100%;
  background-repeat: repeat-y;
  height: inherit; }

a:hover {
  text-decoration: none;
  cursor: pointer; }

.notTitlePage {
  padding-top: 4em;
  margin-top: 0em;
  margin-bottom: 10em;
  height: auto; }
  @media (max-width: 768px) {
    .notTitlePage {
      margin-bottom: 1em; } }

.banner {
  position: relative;
  top: 0;
  height: 2em;
  width: 75%;
  display: inherit;
  z-index: 10;
  font-family: Raleway;
  font-size: 2em;
  color: #fbe3df; }
  @media (max-width: 768px) {
    .banner {
      width: 100%; } }
  .banner ul {
    list-style: none; }
    .banner ul li {
      display: inline-block;
      padding: 0 0 0 0; }
      .banner ul li img {
        max-width: 100%;
        position: relative; }
    .banner ul a {
      position: relative; }
      .banner ul a:hover {
        text-decoration: none; }

.bannerFade {
  display: none; }

.topPage {
  height: 100vh; }

.topPageLogo {
  padding-top: 5em;
  padding-bottom: 5em; }
  .topPageLogo img {
    max-width: 100%; }

.topPageTitle {
  font-family: Raleway;
  font-size: 1.9em;
  text-align: center; }

.servicesPage {
  margin-bottom: 30em; }
  @media screen and (max-width: 768px) {
    .servicesPage {
      margin-bottom: 1em; } }
  .servicesPage img {
    max-width: 100%;
    padding-left: 20%;
    margin-top: 6em;
    cursor: pointer; }
    @media screen and (max-width: 768px) {
      .servicesPage img {
        padding-top: 1em;
        margin-top: 1em; } }
  .servicesPage .row {
    margin-right: 6.25%; }
  .servicesPage .infoBox {
    margin-top: 2em;
    display: none;
    background-color: rgba(255, 255, 255, 0.8); }

.infoBoxDiv {
  cursor: pointer; }
  @media (min-width: 768px) and (max-width: 992px) {
    .infoBoxDiv {
      position: fixed;
      top: 0;
      left: 0;
      margin-top: 2em;
      margin-left: 1em;
      max-width: 80%;
      font-size: 1.5em; } }
  @media (max-width: 768px) {
    .infoBoxDiv {
      position: fixed;
      top: 0;
      left: 0;
      margin-top: 2em;
      margin-left: 1em;
      margin-top: 2em;
      font-size: 1.5em; } }

.photoWrapper {
  margin-top: 3em; }
  @media (max-width: 768px) {
    .photoWrapper {
      margin-top: 8em; } }

.photos {
  max-width: 110%;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  @media (min-width: 768px) and (max-width: 992px) {
    .photos {
      left: 3em;
      max-width: 80%;
      padding: 0 2em 0 2em; } }
  @media (max-width: 768px) {
    .photos {
      left: 1em;
      max-width: 80%;
      padding: 0 2em 0 2em; } }

.slideshow {
  display: block;
  position: relative;
  margin: 0;
  margin-bottom: 2em;
  padding: 0;
  overflow: scroll;
  cursor: pointer;
  z-index: 0; }
  .slideshow .photosList {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: auto;
    list-style: none; }
    .slideshow .photosList img {
      height: 100%;
      width: 100%; }
    .slideshow .photosList li {
      display: none; }

#visible {
  display: inline-block; }

.navButtons {
  display: inline-block;
  font-size: 4.5em;
  color: #534d49;
  background-color: none;
  border: none;
  top: 200px; }
  @media (min-width: 768px) and (max-width: 992px) {
    .navButtons {
      left: -0.2em; } }
  @media (max-width: 768px) {
    .navButtons {
      left: -20em; } }

.contactPage {
  padding-top: 1em; }

.contactInfo {
  margin-top: 4em;
  margin-bottom: 4em;
  position: relative; }
  .contactInfo p {
    padding-right: 2em;
    text-align: right;
    font-family: Raleway;
    color: #534d49;
    font-size: 2em; }
    @media (max-width: 768px) {
      .contactInfo p {
        padding-right: 0;
        font-size: 1.5em; } }

.map {
  max-width: 100%;
  top: -3em; }

#map {
  height: 30em;
  width: 50em;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 768px) and (min-width: 992px) {
    #map {
      width: 50em;
      margin-left: auto;
      margin-right: auto; } }
  @media (max-width: 768px) {
    #map {
      width: 25em;
      height: 25em;
      margin-left: auto;
      margin-right: auto; } }

.scrolloff {
  pointer-events: none; }

.endOfPage {
  margin-top: 5em; }

/*# sourceMappingURL=triangle04.css.map */
